<div class="row no-print">
    <div class="col-md-12">
        <h3 ng-click="formAdd=true" class="btn btn-info">Add a contact</h3>
        <div id="formAdd" ng-show="formAdd">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">Firstname</label>
                    <input type="text" class="form-control" ng-model="newUser.firstname" id="name" placeholder="Richard">
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" class="form-control" ng-model="newUser.lastname" id="lastname" placeholder="Stallman">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" ng-model="newUser.email" id="email" placeholder="r.s@fsf.com">
                </div>
                <div class="form-group">
                    <label for="birthday">Birthday date</label>
                    <input type="text" class="form-control" ng-model="newUser.birthdayDate" id="birthday" placeholder="19/08/1993">
                </div>
                <button ng-click="addContact(newUser)" type="submit" class="btn btn-success btn-sm">Add</button>
            </form>
        </div>
        <print-btn div-to-print="contactTable"></print-btn>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <input type="text" class="form-control" ng-model="query" placeholder="Search for contact"/>
        </div>
        <h1>Contact</h1>
        <div class="table-responsive">
            <table class="table" id="contactTable">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Birthday date</th>
                    <th colspan="1"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contact in currentUser.friends | filter:query">
                    <td>{{ contact.firstname }}</td>
                    <td>{{ contact.lastname }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.birthdayDate }}</td>
                    <td class="no-print"><a href="#/link/{{ contact.id }}">Dependencies</a> </td>
                    <td class="no-print"><button class="btn btn-sm btn-warning" ng-click="removeContact(contact)">Remove</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
