<div class="row">
    <div class="col-md-12">
        <h3 ng-click="formAdd=true" class="btn btn-info">Add a contact</h3>
        <div id="formAdd" ng-show="formAdd">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">Firstname</label>
                    <input type="text" class="form-control" ng-model="newUser.firstname" id="name" placeholder="Richard">
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" class="form-control" ng-model="newUser.lastname" id="lastname" placeholder="Stallman">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" ng-model="newUser.email" id="email" placeholder="r.s@fsf.com">
                </div>
                <div class="form-group">
                    <label for="birthday">Birthday date</label>
                    <input type="text" class="form-control" ng-model="newUser.birthdayDate" id="birthday" placeholder="19/08/1993">
                </div>
                <button ng-click="addContact(newUser)" type="submit" class="btn btn-success">Add invitation</button>
            </form>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <h1>Contact</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Birthday date</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in friends">
                    <td>{{ contact.firstname }}</td>
                    <td>{{ contact.lastname }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.birthdayDate }}</td>
                    <td><button class="btn btn-sm btn-info" ng-click="updateUser(contact)">Update</button></td>
                    <td><button class="btn btn-sm btn-warning" ng-click="removeContact(contact)">Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
