<div class="row no-print">
    <div class="col-md-12">
        <h3 ng-click="formAdd=true" class="btn btn-info">Create a group</h3>
        <div id="formAdd" ng-show="formAdd">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">Group name</label>
                    <input type="text" class="form-control" ng-model="newGroup.name" id="name" placeholder="Richard">
                </div>
                <button ng-click="createGroup(newGroup)" type="submit" class="btn btn-success btn-sm">Create</button>
            </form>
        </div>
        <print-btn div-to-print="groupsTable"></print-btn>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <input type="text" class="form-control" ng-model="query" placeholder="Search for contact"/>
        </div>
        <table class="table" id="groupsTable">
            <h1>Groups</h1>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Members</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in currentUser.groups | filter:query">
                <td>{{ group.name }}</td>
                <td>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="member in group.members">
                                <td>{{member.firstname}}</td>
                                <td>{{member.lastname}}</td>
                                <td> <span ng-click="removeFromGroup(member, group)" class="glyphicon glyphicon-remove"></span> </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="no-print">
                    <select ng-model="contact" ng-options="friend.id as friend.firstname for friend in currentUser.friends"></select>
                    <button class="btn btn-sm btn-info" ng-click="addMember(contact, group.id)">Add members</button>
                </td>
                <td class="no-print">
                    <button class="btn btn-sm btn-warning" ng-click="deleteGroup(group)">Delete group</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>