<div class="row">
    <div class="col-md-12">
        <h3 ng-click="formAdd=true" class="btn btn-info">Create a group</h3>
        <div id="formAdd" ng-show="formAdd">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">Group name</label>
                    <input type="text" class="form-control" ng-model="newGroup.name" id="name" placeholder="Richard">
                </div>
                <button ng-click="createGroup(newGroup)" type="submit" class="btn btn-success btn-sm">Create</button>
            </form>
        </div>
    </div>
</div>